server {
  listen 8080 default_server;
  server_name _;
          
  root /app;
  index index.html;

  location = /t {
    try_files /t.html =404;

    set $target 'http://www.fwrd.in/?no_target_provided';
    if ($arg_target) {
      set $target $arg_target;
    }

    if ($http_user_agent ~* "facebookexternalhit|Facebot|GoogleBot|LinkedInBot|Twitterbot") {
      rewrite .* $target redirect;
    }
  }
}
